@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap');
footer
{
  font-family: 'Nabla', cursive; 
}

.footer {
  background-color: #FF8C00;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
*{
  text-decoration: none;
  margin: 0 auto;
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  flex: 1;
  position: relative;
  z-index: 0;
}
.pic {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 50%;
}
.text {
  margin-top: 20px;
}
.video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
body{
  font-family: 'Nabla';
}
nav{
  background: #FF8C00;
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header{
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;

}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: rgb(215, 114, 19);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
#check:checked ~ .wrapper .container {
  display: none;
}

#check:checked ~ .wrapper .pic {
  display: none;
}

#check:checked ~ .wrapper .video {
  display: none;
}
@media only screen and (max-width: 600px){
  .header{
    font-size: 17px;
    padding: 0 20px;
  }
  .pic {
    margin-top: 50px;
}
.text {
  margin-top: 50px;
  font-size: 14px;
}
.video {
  margin-top: 50px;
}
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: #FF8C00;
    color: white;
  }
  #check:checked ~ ul{
    left: 0;
  }
  @media only screen and (min-width: 600px) {
    .header {
      font-size: 35px;
      padding: 0 20px;
  }
  .pic {
      margin-top: 100px;
  }
  .text {
    margin-top: 100px;
}
 .video {
    margin-top: 100px;
}
}
@media only screen and (min-width: 992px) {
  .header {
    font-size: 10px;
    padding: 0 20px;
  }
    ul {
    position: absolute;
    top: 0;
    right: 0;
}
.pic {
margin-top: 120px;
}
.text {
margin-top: 120px;
}
.video {
margin-top: 120px;
}
}